dj-database-url==1.0.0
whitenoise==6.2.0
Django==4.1.2
django-extensions==3.1.5
gunicorn==20.1.0
ipython==8.5.0
python-dotenv==0.21.0
requests==2.27.1
Werkzeug==2.2.2
django-model-utils==4.2.0
psycopg2-binary==2.9.4
django-crispy-forms==1.14.0
phonenumbers==8.12.45
django-cors-headers==3.12.0
xhtml2pdf==0.2.7
django-multiselectfield==0.1.12
django-social-share==2.2.1
django-embed-video==1.4.4

django-ckeditor==6.5.1