{% extends 'base.html' %}
{% load static %}
{% block title %} Home | Sagar Sangwan {% endblock %}

{% block content %}
<style>
    body {
        background-color: #0a192f;
    }

    .green-color {
        color: #64ffda;
    }

    .slate-color {
        color: #8892b0;
    }

    .light-slate-color {
        color: #a8b2d1;
    }

    .lightest-slate-color {
        color: #ccd6f6;
    }

    a {
        text-decoration: none;
    }

    .container-sm {
        min-height: 100vh;
    }

    .sidebar-left {}

    .sidebar-left ul {
        margin-top: 45vh;
    }

    .skills::marker {
        color: #64ffda;

        content: "\2023";
        padding-left: 12px;
    }

    .scrollspy-example {
        position: relative;
        height: 300px;
        overflow: auto;
    }
</style>
{% include "components/navbar.html" %}
<div class="container-fluid">
    <div class="row">
        <div class=" col-1 col-lg-2 d-none d-md-block ">

            {% include "components/left-sidebar.html" %}
        </div>
        <div class="col-12 col-md-10 col-lg-8">
            {% include "components/hero.html" %}
            {% include "components/about-me.html" %}

            {% include "components/my-works.html" %}

        </div>
        <div class="col-1 col-lg-2 d-none d-md-block">
        </div>
    </div>
</div>

<script src="/static/js/page-loader.js"></script>

<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>




{% comment %} textanime cdn {% endcomment %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/mohamedfrindi/TxtAnime.js/dist/TxtAnime.js"></script>
<script>

    new TxtAnime(".my-bio", {
        effect: "txt-an-1",
        delayStart: 0,
        delay: 0.07,
        duration: 0.7,
        repeat: false,
        repeatDelay: 1,
    })
</script>
<script>

    new TxtAnime(".my-name", {
        effect: "txt-an-2",
        delayStart: 0,
        delay: 0.07,
        duration: 0.7,
        repeat: false,
        repeatDelay: 1,
    })
</script>
{% endblock %}