<header>
    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
            <a class="navbar-brand text-dark" href="#">Navbar</a>
            <a onclick="myFunction()"><img width="22" class="pt-1" src="/static/images/dark-light-mode.svg" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item ps-3 pe-3">

                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark disabled">Disabled</a>
                    </li>
                </ul>
                <ul class="navbar-nav mb-2 ps-3 mb-lg-0 ">
                    <li class="nav-item ms-md-3 ">
                        <a class="text-dark"
                            href="https://docs.google.com/document/d/1QUCcYkhGv8y5gVbP9F_GwQzZ1z4gcVEg_UIRei06MQE/edit?usp=sharing"><img
                                width="22" class="pt-1" src="/static/images/work.svg" alt=""> Works
                        </a>
                    </li>
                    <li class="nav-item ms-md-3">
                        <a class="text-dark"
                            href="https://docs.google.com/document/d/1QUCcYkhGv8y5gVbP9F_GwQzZ1z4gcVEg_UIRei06MQE/edit?usp=sharing"><img
                                width="22" class="pt-1" src="/static/images/resume1.svg" alt=""> Resume
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>