<style>
    .green-color {
        color: #64ffda;
    }
</style>
<header>
    <nav class="navbar navbar-expand-lg px-3">
        <div class="container-fluid">
            <a class="navbar-brand green-color" href="#">Navbar</a>
            <a onclick="myFunction()"><img width="22" class="pt-1" src="/static/images/dark-light-mode.svg" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item ps-3 pe-3">

                    </li>
                    <li class="nav-item">
                        
                    </li>
                </ul>
                <ul class="navbar-nav mb-2 ps-3 mb-lg-0 ">
                    <li class="nav-item ms-md-3 ">
                        <a class="green-color"
                            href="#Myworks">
                            Works
                        </a>
                    </li>
                    <li class="nav-item ms-md-5 ">
                        <a class=" green-color" href="#Aboutme">About Me</a>
                    </li>
                    <li class="nav-item ms-md-5">
                        <a class="green-color"
                            href="https://docs.google.com/document/d/1QUCcYkhGv8y5gVbP9F_GwQzZ1z4gcVEg_UIRei06MQE/edit?usp=sharing">
                            Resume
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>