<div class="container-sm" id="Aboutme">
    <div class="row">
        <div class="col-12">
            <p class="h3 lightest-slate-color">
                <span class="green-color">
                    0.</span> About Me -------------
            </p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12 col-md-6 ">
            <p class="slate-color">
                Hi there 👋 I am Sagar.

                I don't know what I am doing, but I love python 🐍. I love to make complex things simple and joy to use.
                My interest in web
                development started back in mid 2020 when I decided to develop my portfolio <a class="green-color"
                    href="https://sagarsangwan.herokuapp.com/">sagarsangwan</a> and results are I became familiar with
                <span class="green-color">
                    HTML, CSS and Python(Flask) as Backend</span>
            </p>
            <p class="slate-color">
                Nowadays I’ve had the privilege of working at an Teaching Company named <a class="green-color"
                    href="teachoo.com">Teachoo</a>

                and I am constantly learning and keep up to date with the latest
                technologies , so i can pick the best tech for the job</p>
            <p class="slate-color">
                Technologies I am familier with :
            </p>
            <div class="row slate-color">
                <div class="col-4">
                    <ul id="skillsset">
                        <li class="skills ps-3">
                            <p> Python</p>
                        </li>
                        <li class="skills ps-3">
                            <p> django</p>
                        </li>
                        <li class="skills ps-3">
                            <p>Heroku</p>
                        </li>
                    </ul>
                </div>

                <div class="col-8">
                    <ul id="skillsset">
                        <li class="skills ps-3">
                            <p> Web Scraping</p>
                        </li>
                        <li class="skills ps-3">
                            <p> Github</p>
                        </li>
                        <li class="skills ps-3">
                            <p> HTML, CSS, Bootstrap</p>
                        </li>

                    </ul>
                </div>

            </div>
        </div>

        <div class="col-12 col-md-6 text-center">
            <img src="static/images/sagar.jpg" class="img-thumbnail">
        </div>
    </div>
</div>