<div class="container-sm mt-5 padding-top-130px" style="height: 100vh; ">
    <div class="row ">
        <div class="col-12 mt-1">
            <p class="h5 green-color">
                Hi, my name is
            </p>
        </div>
        <div class="col-12 mt-1">
            <h1 class="display-1 lightest-slate-color fw-bold">Sagar Sangwan</h1>
        </div>
        <div class="col-12 mt-1">
            <h1 class="display-2 slate-color fw-bold">I am a fullstack developer😜 </h1>
        </div>
        <div class="col-12 col-md-8 mt-3">
            <p class="h5 slate-color">I’m a software engineer specializing in building
                exceptional digital experiences. Currently, I’m focused on building accessible,
                human-centered
                products
                at
                <a class="green-color" href="teachoo.com">Teachoo</a>
                and putting my efforts to be a B.tech graudate
            </p>
        </div>
    </div>
</div>