<div class="sidebar-left affix">
    <ul class="list-unstyled  text-center ">
        <li class="mb-3">
            <a href="https://www.facebook.com/iamsagarsangwan/" target="_blank"
                class="btn-floating btn-lg btn-fb"><i class="fab fa-facebook-f"></i></a>
        </li>
        <li class="mb-3">
            <a href="https://twitter.com/iamsagarsangwan" target="_blank"
                class="btn-floating btn-lg btn-tw"><i class="fab fa-twitter"></i></a>
        </li>
        <li class="mb-3">
            <a href="https://www.linkedin.com/in/iamsagarsangwan/" target="_blank"
                class="btn-floating btn-lg btn-li"><i class="fab fa-linkedin-in"></i></a>
        </li>
        <li class="mb-3">
            <a href="https://www.instagram.com/iamsagarsangwan/" target="_blank"
                class="btn-floating btn-lg btn-ins"><i class="fab fa-instagram"></i></a>
        </li>
        <li class="mb-3">
            <a href="https://github.com/sagarsangwan" target="_blank" class="btn-floating btn-lg btn-git"><i
                    class="fab fa-github"></i></a>
        </li>
    </ul>
</div>