<div class="container-sm" id="Experience">
    <div class="row">
        <div class="col-12">
            <p class="h3 lightest-slate-color">
                <span class="green-color">
                    01.</span> Where I’ve Worked -------------
            </p>
        </div>

    </div>
    <div class="row mt-5">
        <div class="col-4">
            <div id="simple-list-example" class="d-flex flex-column gap-2 simple-list-example-scrollspy text-center">
                <a class="p-1 rounded green-color" href="#simple-list-item-1">Teachoo</a>
            </div>
        </div>
        <div class="col-8">
            <div data-bs-spy="scroll" data-bs-target="#simple-list-example" data-bs-offset="0"
                data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">
                <h4 id="simple-list-item-1 " class="lightest-slate-color">Web Development Intern @ <a
                        class="green-color" href="teachoo.com">Teachoo</a></h4>
                <p class="light-slate-color">April 2022 - Present</p>
                <ul id="skillsset " class="light-slate-color">
                    <li class="skills ps-3">
                        <p>Worked with designers to redesign the whole website @ <a class="green-color"
                                href="teachoo.com">Teachoo</a> </p>
                    </li>
                    <li class="skills ps-3">
                        <p> Worked closely with designers and management team to develop a new product from scratch
                            using Python/Django, Html/CSS/Bootstrap and little bit JavaScript</p>
                    </li>
                    <li class="skills ps-3">
                        <p>Working with technologies like Heroku, AWS(s3, Ses), </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>